<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <!-- you can put your configs here   -->
     <card>
         <title>Theme configuration</title>
         <input-field>
             <name>myField</name>
             <label>Label of My Field</label>
             <helpText>Help Text of My myField</helpText>
         </input-field>
     </card>
</config>
